*{
    text-decoration: none;
}
.nav-list{
    width: 90px;
    height: 15px;
    color: grey;
    font-size: 10px;
    text-decoration: none;
    display: flex !important;
    justify-content: flex-start;
    text-wrap: nowrap;
    align-items: center;
}
.clickedItemImage{
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
}
.clickedIcon{
    width: 100px;

}
.c-icon{
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
}